{% extends 'base.html' %}
{% load static %}
{#TODO: make it mobile friendly#}
{% block menu %}
    {% include 'partials/menu.html' with page='review' %}
{% endblock %}

{% block content %}

    <h2 class="text-center mt-5">What do you think
        about {{ stemmer.display_name }}?</h2>
    <div class="d-flex justify-content-center mt-5">
        <div class="card col-11 col-md-10 col-lg-9 col-xl-8">
            <form class="card-body d-flex flex-column" method="post">
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="inputEmail">Email</label>
                        <input required type="email" name="user_email_address" class="form-control" id="inputEmail"
                               placeholder="Your Email">
                    </div>
                    <div class="form-group col-md">
                        <label for="inputGithub">Github Account</label>
                        <input type="url" name="user_github_account_link" class="form-control" id="inputGithub"
                               placeholder="Your Github Account">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputComment">Comment</label>
                    <textarea required minlength="25" maxlength="1500" rows="5" type="text" class="form-control"
                              id="inputComment" name="comment"
                              placeholder="Let others know whay you think about {{ stemmer.display_name }}. Why do you think it's good or bad? Try to use 100 words or more!"></textarea>
                </div>
                <div class="text-center">
                    <label for="rating-input">Rate it!</label>
                    <div id="rating-input" class="rating d-flex flex-row-reverse justify-content-center">
                        <input required type="radio" id="star5" name="score" value="5"/>
                        <label for="star5" title="5 star">5</label>
                        <input required type="radio" id="star4" name="score" value="4"/>
                        <label for="star4" title="4 star">4</label>
                        <input required type="radio" id="star3" name="score" value="3"/>
                        <label for="star3" title="3 star">3</label>
                        <input required type="radio" id="star2" name="score" value="2"/>
                        <label for="star2" title="2 star">2</label>
                        <input required type="radio" id="star1" name="score" value="1"/>
                        <label for="star1" title="1 star">1</label>
                    </div>
                </div>
                <div class="text-right">
                    <input name="submit" id="submit" type="submit" role="button" class="btn btn-dark"
                           value="POST REVIEW">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/post_review.css' %}">
{% endblock %}