{% extends 'base.html' %}
{% load static %}
{#TODO: make it mobile friendly#}
{% block menu %}
    {% include 'partials/menu.html' with page='stemmers' %}
{% endblock %}

{% block content %}
    <div id="top-stemmers" class="d-flex flex-column justify-content-start align-items-center mt-5">
        <div class="text-center">
            <h4 class="d-inline mr-3">Top Arabic Stemmers</h4>
            <a href="#comparaison" role="button" class="btn btn-outline-dark">COMPARE</a>
        </div>

        <form class="d-flex flex-row justify-content-center mt-3" method="post">
            <div class="dropdown cq-dropdown mr-3" data-name='languages'>
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="btndropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Programming Languages
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="btndropdown">
                    {% for l in languages %}
                        <li>
                            <label class="radio-btn">
                                <input type="checkbox" value='{{ l.name }}' {% if l.name in languages_checked %}
                                       checked
                                {% endif %}>
                                {{ l.name }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <input type="submit" role="button" class="btn btn-dark" value="FILTER">
        </form>

        <div class="col-5 mt-2 mb-5 text-center text-black-50 align-self-center">
            {% for stemmer in stemmers %}
                <div class="card mt-2 mb-2">
                    <div class="d-flex justify-content-between m-3">
                        <div>
                            <h2 class="d-inline mr-4"><span class="badge badge-dark">{{ forloop.counter }}</span></h2>
                            <h5 class="d-inline">{{ stemmer.display_name }}</h5>
                            {% if stemmer.programming_languages.all|length %}
                                <div class="text-left ml-5">
                                    {% for language in stemmer.programming_languages.all %}
                                        <span class="badge badge-light">{{ language.name }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column">
                            {% include 'partials/ratingMiniView.html' with average=stemmer.average count=stemmer.count %}
                            <a class="btn btn-dark mt-3"
                               href="{% url 'STEMMER_URL' display_name=stemmer.display_name %}#demo"
                               role="button">DEMO</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {#    COMPARAISON#}
    <div id="comparaison" class="d-flex flex-column justify-content-start pb-5">
        <form class="col-8 align-self-center mt-5 mb-5">
            {% csrf_token %}
            <div class="text-center">
                <h4><label for="form_text">Can't choose ?</label></h4>
            </div>
            <div class="row align-self-center mt-4">
                        <textarea id="form_text" rows="5" type="text" name="text"
                                  placeholder="أدخل نص بالغة العربية هنا..."
                                  required minlength="4" class="card-body text-right" dir="rtl" lang="ar"></textarea>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-sm-3">
                    <button type="submit" id="form_submit" class="btn btn-dark w-100 pt-3 pb-3 mr-2 mt-2 mb-2">COMPARE
                    </button>
                </div>
                <div class="col-sm-3">
                    <input id="txt_file" class="d-none" type="file" accept="text/plain" onchange="loadFile()"/>
                    <button id="import_file"
                            class="btn btn-outline-dark w-100 pt-3 pb-3 mr-2 mt-2 mb-2">IMPORT FROM FILE
                    </button>
                </div>
            </div>
        </form>
    </div>

    {#    RESULTS#}
    <div id="res_wrapper" class="d-none" data-url="{% url 'STEMMERS_API' %}">
        <div class="text-center mt-3 mb-3">
            <h4>Results</h4>
        </div>
        <div class="d-flex flex-column justify-content-start mb-5" id="res_container">
            {#            <div class="col-8 align-self-center">#}
            {#                <div class="card mt-2 mb-2">#}
            {#                    <div class="card-header">#}
            {#                        <h3 class="d-inline mr-3"><span class="badge badge-dark">1</span></h3>#}
            {#                        <a href="#" class="text-dark"><h5 class="d-inline mr-3">Stemmer X</h5></a>#}
            {#                        <button class="btn btn-outline-dark">#}
            {#                            RATE IT#}
            {#                        </button>#}
            {#                        <button class="btn btn-dark float-right" type="button" data-toggle="collapse"#}
            {#                                data-target="#collapseExample" aria-expanded="false"#}
            {#                                aria-controls="collapseExample">#}
            {#                            LESS#}
            {#                        </button>#}
            {#                    </div>#}
            {#                    <div class="card-body collapse" id="collapseExample">#}
            {#                        <p class="text-right" dir="rtl" lang="ar">#}
            {#                            يبق إذ وسوء بقسوة بالسيطرة, ومن بتخصيص وايرلندا التغييرات في. العظمى الأرواح و بحث. يبق#}
            {#                            بل سبتمبر تكاليف, على ما أجزاء السيطرة الفرنسية. مع وفنلندا الأوربيين حيث, وقام وجهان من#}
            {#                            وفي. أن بين كردة التي حادثة, قبل وزارة حاملات مع. من سكان إبّان مهمّات بعض. بعض بمباركة#}
            {#                            الصفحات كل, معاملة باستخدام عل فصل. عدد وعلى اللا انتباه لم. أوسع اعلان وتنصيب مع به،,#}
            {#                            قائمة محاولات تم أضف, الستار البرية كان إذ.#}
            {#                        </p>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dropdownCheckboxes.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/htmldiff.css' %}">
    <link rel="stylesheet" href="{% static 'css/stemmers.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/dropdownCheckboxes.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/htmldiff.js' %}" type="text/javascript"></script>
    <script defer="defer" src="{% static 'js/stemmers.js' %}" type="text/javascript"></script>
{% endblock %}
